@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import "tailwindcss";
:root {
    font-family: 'Zen Dots';
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
h1{
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: transparent;
    background: linear-gradient(to bottom,#999999, #FFFFFF, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
p{
    font-family: "Zen Dots", serif;
    font-weight: 200;
    font-style: normal;
    color: transparent;
    background: linear-gradient(to bottom,#999999, #FFFFFF, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
      
